*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 40%;
}
ul li{
    display: inline-block;
    
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.ul li a:hover{
    border-bottom: 2px solid black;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:auto;
}
.content .text{
    width: 35%;
    color: #fff;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 19px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    margin-top: 20px;
    background:#fff;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}